{% extends "encyclopedia/layout.html" %}

{% block title %}
{{ title }}
{% endblock title %}

{% block body %}
<h1>Edit {{ title }}:</h1>

<form action="{% url 'edit_page' title %}" method="POST">
    {% csrf_token %}
    <label for="title">Page Title:</label><br>
    <input type="text" name="title" id="title" placeholder="Page Title" value="{{ title }}" readonly><br>
    <label for="content">Page Content:</label><br>
    <textarea name="content" id="content" placeholder="Markdown Content">{{ content }}</textarea>
    <br><br>
    <input type="submit" value="Submit">
</form>
{% endblock body %}